.portfolio{
    padding: 6rem;
}


.portfolio h2{
    color: rgb(44,62,80);
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 40px;

}


.formd{
    margin: 1.25rem 0 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lineone{
    background-color: rgb(44,62,80);
    margin-left: 2rem;
    width: 100%;
    max-width: 7rem;
    height: 0.25rem;
    font-size: 16px;
    font-weight: 400;
    height: 4px;
    
    border-radius: 1rem;
}
.linetwo{
    background-color: rgb(44,62,80);
    margin-right: 2rem;
    width: 100%;
    max-width: 7rem;
    height: 0.25rem;
    font-size: 16px;
    font-weight: 400;
    height: 4px;

    border-radius: 1rem;
}

.icon{
    color: rgb(44,62,80);
    font-size: 30px;
    margin-left: 1rem;
    margin-right: 1rem;
}

img{
    height: 214px;
    width: 296px;
width: 100%;
}




.portfolio-item{
    cursor: pointer;
    position: relative;
    display: block;
   /* max-width: 25rem;*/
    border-radius: 0.5rem;
    overflow: hidden;
}


.portfolio-hov{
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    background-color: rgba(26, 188, 156, 0.9);
}
.portfolio-hov:hover{
    opacity: 1;
}
.portfolio-hov-contant{
    font-size: 1.5rem;
}

.portfolio-hov-contant i{
    font-size: 60px;
}


@media  (min-width:350px) and (max-width:770px){
    
    
    img{
        height: 114px;
        width: 296px;
    width: inherit;
    height: inherit;

    }
    
}